.article-clean {
  color:#56585b;
  background-color:#fff;
  font-family:'Lora', serif;
  font-size:14px;
}

.article-clean .intro {
  font-size:16px;
  margin:0 auto 30px;
}

.article-clean .intro h1 {
  font-size:32px;
  margin-bottom:15px;
  padding-top:20px;
  line-height:1.5;
  color:inherit;
}

.article-clean .intro p {
  color:#929292;
  font-size:12px;
}

.article-clean .intro p .by {
  font-style:italic;
}

.article-clean .intro p .date {
  text-transform:uppercase;
  padding:4px 0 4px 10px;
  margin-left:10px;
  border-left:1px solid #ddd;
}

.article-clean .intro p a {
  color:#333;
  text-transform:uppercase;
  padding-left:3px;
}

.article-clean .intro img {
  margin-top:40px;
}

.article-clean .text p {
  margin-bottom:20px;
  line-height:1.45;
  text-align:justify;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size:16px;
  }
}

.article-clean .text h2 {
  margin-top:28px;
  margin-bottom:20px;
  line-height:1.45;
  font-size:16px;
  font-weight:bold;
  color:#333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size:20px;
  }
}

.article-clean .text figure {
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
}

.article-clean .text figure img {
  margin-bottom:12px;
  max-width:100%;
}

div.col-lg-12.col-lg-offset-2.col-md-12.col-md-offset-1 {
  padding:0px;
  margin:10px;
}

div.col-md-12 {
  text-align:center;
}

div.carousel-caption {
  text-decoration:blink;
  background-color:rgba(0,0,0,0.64);
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
  border-radius:20px;
}

a.right.carousel-control {
  /*color:black;*/
}

section#listeEquipe {
  padding-top:65px;
}

div.col-md-4.col-sm-6.item {
  margin-left:auto;
  margin-right:auto;
}

button.btn.btn-primary.btn-block {
  /*color:black;*/
  background-color:rgb(248,54,17);
}

.register-photo form {
  background-color:#ffffff;
  padding:0px 60px;
  color:#505e6c;
  margin-left:auto;
}

img#img_connexion.img-responsive {
  margin-top:20px;
  margin-bottom:0px;
  background:url(../../assets/img/jazz_in_his_soul.jpg);
  background-size:cover;
  width:450px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  margin-right:auto;
}

div.form-container {
  margin-bottom:40px;
}


