.login-dark {
  /*background:#475d62 url(../../assets/img/musique-image.jpg);*/
  /*background-size:cover;*/
  /*position:relative;*/
  /*margin-top:100px;*/
  /*margin:auto;*/
  margin-top:40px;
  margin-bottom:40px;
}

.login-dark form {
  max-width:320px;
  width:90%;
  /*background-color:#030303;*/
  padding:40px;
  border-radius:10px;
  /*transform:translate(-50%, -50%);*/
  /*position:absolute;*/
  /*top:50%;*/
  /*left:50%;*/
  margin-left:auto;
  margin-right:auto;
  color:#fff;
  margin-top:60px;
  /*box-shadow:inset 3px 3px 4px rgba(0,0,0,0.2);*/
  /*box-shadow:3px 3px 4px rgba(0,0,0,0.2);*/
  border:outset;
}

.login-dark .illustration {
  text-align:center;
  /*padding:15px 0 20px;*/
  font-size:100px;
  color:#040404;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #f84a29;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:black;
}

.login-dark form .btn-primary {
  background:#060606;
  color:rgb(255,253,253);
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#f83611;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

