header {
  height:130px;
  background:url(../../assets/img/notes-de-musique-partition.jpg) no-repeat center;
  /*background-size:500px;*/
  background-size:cover;
}

Articles#img.img-responsive {
  /*height:150px;*/
  /*border-radius:15px;*/
  margin-right:auto;
  margin-left:auto;
  overflow:hidden;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius:100px;
  width:200px;
  height:200px;
}

.navbar-nav {
  margin-top:20px;
}

.navbar-nav .nav li {
  height:50px;
}

.navbar-nav > li > a {
  padding-top:8px;
  padding-bottom:8px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a {
  color:#f93511;
  font-weight:bold;
  background-color:rgba(255,255,255,0.95);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#fff;
  background-color:rgba(0,0,0,0.6);
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:#fff;
  background-color:#f83611;
  font-weight:bold;
}

.navbar-toggle {
  background-color:#fff !important;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
  margin-top:20px;
}

nav.navbar.navbar-default {
  background:none;
  box-shadow:none;
}

.navbar-brand {
  height:75px;
  font-size:18px;
  color:#fff !important:;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title {
  text-transform:uppercase;
  font-weight:bold;
}

@media (max-width:767px) {
  .navbar-brand span.text-title {
    display:none;
  }
}

.navbar-brand .glyphicon {
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}

@media (min-width:768px) {
  .navbar-nav li {
    margin-left:10px;
  }
}

.categories {
  text-align:center !important;
  /*margin-bottom:50px;*/
  border-bottom:1px solid #060606;
}

.categories li {
  display:inline-block !important;
  float:none;
}

.post-body {
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title {
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author {
  text-transform:uppercase;
}

.post-body figure {
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span {
  margin-left:5px;
}

.post-title h1 {
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1 {
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer {
  padding:10px;
  text-align:center;
  background-color:#333;
  color:#f83611;
}

footer h5 {
  color:inherit;
}

div.container.post {
  margin-bottom:50px;
}

a:hover, a:focus {
  color:#f83611;
  text-decoration:underline;
}

a {
  color:#f83611;
  font-weight:bold;
}

a:active {
  color:#f83611;
}

#equipe img.img-responsive {
  height:250px;
  margin-left:auto;
  margin-right:auto;
  border-radius:30px;
  margin-top:10px;
  margin-bottom:10px;
}

div.col-md-3.item.social {
  color:rgba(6,215,228,0.952941);
  /*margin-left:auto;*/
  /*margin-right:auto;*/
}

p.copyright {
  color:#f83611;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color:#ffffff;
  background-color:#f83611;
}

ul.nav.nav-pills.categories {
  /*color:blue;*/
  /*background:rgba(248,54,17,0.12);*/
  /*max-width:700px;*
  margin:auto;
  /*border-radius:5px;*/
  /*margin-bottom:10px;*/
  /*margin-top:15px;*/
}

i.glyphicon.glyphicon-circle-arrow-right {
  color:#f83611;
  margin-left:auto;
  margin-right:auto;
}

div#contenuenseignement.container {
  /*background-color:rgba(248,54,17,0.17);*/
  border-radius:15px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  /*padding-top:65px;*/
}

div.col-md-4.col-sm-6.item {
  /*border-width:2px;*/
  /*border-style:solid;*/
  /*border-color:#040404;*/
  /*border-radius:20px;*/
}

i.glyphicon.glyphicon-chevron-right {
  color:black;
}

i.glyphicon.glyphicon-chevron-left {
  color:black;
}

section#accueil {
  /*padding-top:65px;*/
  /*padding-bottom:65px;*/
}

section#barrenav {
  margin-top:55px;
  border-bottom:1px black;
}

div.item.active {
  height:500px;
}

#accueil div {
  margin-right:auto;
  margin-left:auto;
  max-width:1000px;
  /*margin-top:40px;*/
}

div#equipe.container.post {
  border:none;
}

div#listeprof.row {
  border:none;
}

div.thumbnail {
  border:none;
}

#article .img {
  height:100px;
}

div#thumbnailEquipe .img {
  height:50px;
}

imagesarticle#img {
  border-bottom-right-radius:50px;
  border-top-left-radius:50px;
}

p {
  text-align:center;
}

div#thumbnailEquipe.row {
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

div.row.articles {
  margin-left:auto;
  margin-right:auto;
}

div#contenu {
  /*max-width:750px;*/
  margin-left:auto;
  margin-right:auto;
  /*padding-top:60px;*/
}

img#icon.img-responsive {
  height:80px;
  border-radius:15px;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
}

#imagesequipe img.img-responsive {
  overflow:hidden;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius:100px;
  width:150px;
  height:150px;
  margin-left:auto;
  margin-right:auto;
}

img#imagelogo.img-responsive {
  height:85px;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
}

#slideaccueil img.img-responsive {
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  /*margin-top:auto;*/
  /*margin-bottom:auto;*/
  /*vertical-align:middle;*/
  /*border-radius:50px;*/
}

section#listeEquipe .img {
  height:50px;
}

#thumbnailEquipe img.img-responsive {
  margin-left:auto;
  margin-right:auto;
  height:10px;
}

#imagesenseignements img.img-responsive {
  height:150px;
  margin-left:auto;
  margin-right:auto;
  border-radius:20px;
}

div#slideaccueil.carousel-inner {
  background-color:#fefefe;
  /*border-radius:60px;*/
  margin-bottom:50px;
}

.carousel-control.right {
  background-image:-webkit-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
  background-image:-o-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
  background-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0001)));
  background-image:linear-gradient(to right, rgba(0,0,0,0.00001) 0, rgba(0,0,0,0.0001) 100%);
  /*background-repeat:repeat-x;*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.left {
  background-image:-webkit-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
  background-image:-o-linear-gradient(left, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
  background-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.0001)));
  background-image:linear-gradient(to right, rgba(0,0,0,0.00001) 0, rgba(0,0,0,0.0001) 100%);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

div#contenuevenement.container {
  border-radius:15px;
  margin-bottom:15px;
  margin-left:auto;
  margin-right:auto;
  padding-top:65px;
}

a#boutondrapeaufrancais {
  background:url(../../assets/img/DrapeauFrancais.png);
  background-size:cover;
  width:35px;
  height:24px;
  margin-top:12px;
  margin-right:auto;
  margin-left:auto;
}

a#boutondrapeaubasque {
  margin-right:20px;
  background:url(../../assets/img/DrapeauBasque.png);
  width:35px;
  background-size:cover;
  height:24px;
  margin-top:12px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:12px;
}

.navbar-default .navbar-nav {
  padding-top:10px;
}

div#navcol-1.navbar-collapse.collapse.in {
  /*background-color:black;*/
  transform:translateY(24px);
}

div#contenu_site.container.with--sidebar {
  transform:translateY(230px);
  padding-bottom:230px;
}

div#navigationmenu.container.with--sidebar {
  transform:translateY(230px);
}

a#btn_retour.btn.btn-default {
  margin-right:auto;
  margin-left:auto;
  color:#fff;
  background-color:#f83611;
  font-weight:bold;
  margin:10px;
}

fa.li{
  position:relative;
}