<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Musikas{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        
            {% block header %}
            <header>
                <section>
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand navbar-link" href="{{ path('musikasvitrine_accueil') }}"><img class="img-responsive" src="{{ asset('bundles/assets/img/musikaslogo2.png') }}" id="icon"></a>
                                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" id="menuxs"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            </div>
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li role="presentation"><a href="#" id="boutondrapeaufrancais"> </a></li>
                                    <li role="presentation" id="test"><a href="#" id="boutondrapeaubasque"> </a></li>
                                    <li role="presentation"><a href="{{ path('musikasvitrine_accueil') }}">Accueil </a></li>
                                    <li class="active" role="presentation"><a href="{{ path('musikasespace_prive_homepage') }}">Espace privé</a></li>
                                    <li role="presentation"><a href="#" id="btnformulaire">Inscription</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </section>
            </header>
            {% endblock %}
            
            
            
            {% block contenu %}
                
            
            {% endblock %}
            
            {% block footer %}
                <div class="footer-clean">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 item">
                                <h3>Contact </h3>
                                <ul>
                                    <li><a href="#">Se rendre à l'école</a></li>
                                    <li><a href="#">Nous joindre</a></li>
                                    <li><a href="#">autre contact...</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 item">
                                <h3>Liens </h3>
                                <ul>
                                    <li><a href="#">Financeur </a></li>
                                    <li><a href="#">.... </a></li>
                                    <li><a href="#">autres écoles...</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 item">
                                <h3>Mention légales</h3>
                                <ul>
                                    <li><a href="#">Statuts </a></li>
                                    <li><a href="#">Compte rendu CA</a></li>
                                    <li><a href="#">Documents </a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a>
                            <p class="copyright">Musikas © 2017</p>
                            </div>
                        </div>
                    </div>
                </footer>
                </div>
            {% endblock %}
            
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/assets/js/menuresponsif.js') }}"></script>
            <script src="{{ asset('bundles/assets/js/Pricing-Tables.js') }}"></script>
            <script src="{{ asset('bundles/assets/js/Pricing-Tables1.js') }}"></script>
        {% endblock %}
    </body>
{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
    <link rel="stylesheet" href="{{ asset('bundles/assets/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700') }}"/>
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Lora') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/fonts/ionicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Article-Clean.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Article-List-1.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Article-List.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Footer-Clean.css') }}">
    <link rel="stylesheet" href="{{ asset('https://daneden.github.io/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Login-Form-Dark.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Pricing-Tables.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Pricing-Tables1.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/user.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Sidebar-Menu.css.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Sidebar-Menu1.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Box-panels.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/Box-panels1.css') }}"/>

{% endblock %}
</html>
