{% extends "::default/vueMerePrive.html.twig" %} {% block contenu %}
<div class="container" id="contenu_site">
    <div class="row articles">
        {{ include('default/barre.html.twig') }}

        <div class="col-md-8 item">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
                            <p></p>
                            <h1>Bienvenue dans votre espace privé!</h1>
                            <p>Vous pouvez ici profiter des fonctionnalités de votre espace privé en consultant vos documents.</p>
                            <p></p>
                            <p></p>

                            <div class="row">
                                <!--<div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3"><i class="fa fa-file-text  fa-4x"></i></div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">26</div>
                                                    <div>Documents</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <div class="panel-footer"><span class="pull-left">View Details</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>-->
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4"><i class="fa fa-file-text fa-4x"></i></div>
                                                <div class="col-xs-8 text-right">
                                                    <div class="huge"></div>
                                                    <div>Documents</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <div class="panel-footer"><span class="pull-left">Consulter</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4"><i class="fa fa-pencil-square-o  fa-4x"></i></div>
                                                <div class="col-xs-8 text-right">
                                                    <div>Inscription</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <div class="panel-footer"><span class="pull-left">Consulter</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="panel panel-red">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-4"><i class="fa fa-user fa-4x"></i></div>
                                                <div class="col-xs-8 text-right">
                                                    <div>Profil</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <div class="panel-footer"><span class="pull-left">Consulter</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</section>
{% endblock %}