{% extends "::default/vueMerePrive.html.twig" %}

{% block contenu %}
    <section id="admin">

<section>
    <div class="container" id="contenu_site">
        <div class="row articles">
            {{ include('default/barre.html.twig') }}
            
            <div class="col-md-8 item">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="row" id="contact">
                            <div class="col-md-12">
                                <h1>Ecrire un article</h1></div>
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label class="control-label">Titre</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Auteur</label>
                                        <input type="email" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Image</label>
                                        <input type="tel" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Texte</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </form>
                                <button class="btn btn-default" type="button">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    </section>
{% endblock %}