{% extends "::default/vueMere.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block contenu %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div id="connexion" class="login-dark">
        <div class="container">
            <div id="zoneconnexion">
                <form method="post" action="{{ path("fos_user_security_check") }}">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                    <h2 class="sr-only">Login Form</h2>
                    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="_username" placeholder="Identifiant" value="{{ last_username }}" required="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="_password" placeholder="Mot de passe" required="required">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" id="_submit">Connexion</button>
                    </div><a href="#" class="forgot">Mot de passe oublié ?</a></form>
            </div>
        </div>
    </div>
    
{% endblock %}