{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section id="accueil">
    
    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'Musikas: Ecole de Musique Intercommunale' | trans }}</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="carousel slide" data-ride="carousel" id="carousel-1">
                <div class="carousel-inner" role="listbox" id="slideaccueil">
                    <div class="item active"><img class="img-responsive" src="{{ asset('bundles/assets/img/notes-de-musique-partition.jpg') }}" alt="Slide Image" />
                        <div class="carousel-caption">
                            <h3>Apprendre la musique, un avantage</h3>
                            <p>Le nombre d&#39;études sur les bienfaits de la musique ne cesse d&#39;augmenter... Lire la suite.</p>
                        </div>
                    </div>
                    <div class="item"><img class="img-responsive" src="{{ asset('bundles/assets/img/bare_image_3.jpg') }}" alt="Slide Image" />
                        <div class="carousel-caption">
                            <h3>Slide Title</h3>
                            <p>Slide Caption</p>
                        </div>
                    </div>
                    <div class="item"><img class="img-responsive" src="{{ asset('bundles/assets/img/bare_image_2.jpg') }}" alt="Slide Image" />
                        <div class="carousel-caption">
                            <h3>Slide Title</h3>
                            <p>Slide Caption</p>
                        </div>
                    </div>
                </div>
                <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-1" role="button"
                    data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>
</section>
    </section>
{% endblock %}