{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div class="register-photo">
    <div class="container">
        <div class="form-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post">
                                <h1 class="text-center">Créer un compte.</h1>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="prenom" placeholder="Prénom" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="nom" placeholder="Nom" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password" placeholder="Mot de passe" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password-repeat" placeholder="Répéter le mot de passe" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">S&#39;inscrire </button>
                                </div><a href="#" class="already">Vous avez déjà un compte ? Connectez vous-ici.</a></form>
                        </div>
                        <div class="col-md-6">
                            <div class="visible-md-block visible-lg-block image-holder"><img class="img-responsive" src="{{ asset('bundles/assets/img/jazz_in_his_soul.jpg') }}" id="img_connexion" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
{% endblock %}