{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div class="article-list">
        <div class="container" id="contenuenseignement">
            <div class="intro">
                <h1 class="text-center">{{ 'Nos écoles' | trans }}</h1>
                <p class="text-justify">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            
            <div class="row articles" id="imagesenseignements">
            {% for ecole in tabEcole %}
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_ecole', { 'id': ecole.id }) }}"><img class="img-responsive" src="{{ asset(ecole.image) }}"></a>
                    <h3 class="name">{{ ecole.nom }}</h3>
                    <p class="text-justify description">{{ ecole.description[:200] }}...</p><a href="{{ path('musikasvitrine_ecole', { 'id': ecole.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
            {% endfor %}
            </div>
            
        </div>
        </div>
    </section>
{% endblock %}