{% extends "::default/vueMere.html.twig" %}

{% block contenu %}


<script src="https://use.fontawesome.com/c276733435.js"></script>


    <section>
        <div class="article-list">
        <div class="container" id="contenuenseignement">
            <div class="intro">
                <h1 class="text-center">{{ ecole.nom }}</h1>
                <p class="text-justify">{{ ecole.description }} </p>
                <img class="img-responsive" src="{{ asset(ecole.image) }}" style="margin-bottom:20px">
                

            </div>
            
            <div class="container" id="contact_ecole" style="width:300px">
            <div class="row">
                <div class="col-md-12">

                    <ul class="list-unstyled fa-ul">
                        <li><i class="fa fa-map-marker fa-li"></i>{{ ecole.adresse }}</li>
                        <li><i class="fa fa-envelope fa-li"></i>{{ ecole.mail }}</li>
                        <li><i class="fa fa-phone fa-li"></i>{{ ecole.telephone }}</li>
                    </ul>
                </div>
            </div>
            </div>
            
            
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" type="button" id="btn_retour" href="{{ path('musikasvitrine_ecoles') }}">Retour aux écoles</a>
                </div>
            </div>
            
            <div class="container" id="contenuenseignement">
                <h1 class="text-center"> {{ 'Nos enseignements'| trans }} : </h1>
            </div>
            <div class="row articles" id="imagesenseignements">
            
            {% for enseignement in tabEnseignement %}
                
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}"><img class="img-responsive" src="{{ asset(enseignement.image)}}"></a>
                    <h3 class="name">{{ enseignement.nom }}</h3>
                    <p class="text-justify description"> {{ enseignement.description }}</p><a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
                
            {% endfor %}
            
        </div>
        </div>
    </section>
{% endblock %}