{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <div class="article-list">
        <div class="container" id="contenuenseignement">
            <div class="intro">
                <h1 class="text-center">{{ enseignement.nom }} </h1>
                <p class="text-justify">{{ enseignement.description }} </p>
                <a href="#"><img class="img-responsive" src="{{ asset(enseignement.image) }}"></a>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" type="button" id="btn_retour" href="{{ path('musikasvitrine_equipe') }}">Retour aux enseignements</a>
                </div>
            </div>

            <div class="container" id="contenuenseignement">
                <h1 class="text-center"> Nos lieux d'enseignement : </h1>
            </div>
            <div class="row articles" id="imagesenseignements">
                {% for ecole in tabEcole %}
                
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_ecole', { 'id':ecole.id }) }}"><img class="img-responsive" src="{{ asset(ecole.image) }}"></a>
                    <h3 class="name">{{ecole.nom}} </h3>
                    <p class="text-justify description">{{ ecole.description }}</p><a href="{{ path('musikasvitrine_ecole', { 'id':ecole.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}