{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <div class="article-list">
        <div class="container" id="contenuenseignement">
            <div class="intro">
                <h1 class="text-center">{{ 'Nos cursus' |trans }}</h1>
                <p class="text-justify">Tous les habitants de la communauté de commune d'ERROBI peuvent bénéficier d'une réduction de 20%. Les familles bénéficient de 20€ de remise par inscription à partir du second en enfant (ex: premier 180€, deuxième 160€, troisième </p>
            </div>
            
            <div class="row articles" id="imagesenseignements">
                
                
                
        <div class="row">
            <div class="col-md-12">
                <section class="pricing-table">
                    <div class="container">
                        <!--<div class="center">
                            <h2>Nos cursus</h2>
                            <p class="lead">Tous les habitants de la communauté de commune d'ERROBI peuvent bénéficier d'une réduction de 20%. Les familles bénéficient de 20€ de remise par inscription à partir du second en enfant (ex: premier 180€, deuxième 160€, troisième
                                140€).</p>
                        </div>-->
                        <div class="pricing-area text-center">
                            <div class="row">
                                <div class="col-sm-4 plan price red wow fadeInDown">
                                    <ul class="list-group">
                                        <li class="list-group-item heading">
                                            <h1>{{ 'Culture musicale' | trans }}</h1><span class="price">{{ 'A partir de' |trans }} 120€</span></li>
                                        <li class="list-group-item"><span>{{ 'Eveil'| trans }} </span></li>
                                        <li class="list-group-item"><span>{{ 'Initiation' | trans }} (CP)</span></li>
                                        <li class="list-group-item"><span>{{ 'Formation Musicale' |trans}} (CE1+)</span></li>
                                        <li class="list-group-item"><span>{{ 'Culture musicale' | trans }}</span></li>
                                        <li class="list-group-item plan-action"><a href="#" class="btn">{{ 'Details' | trans}} </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 plan price green wow fadeInDown">
                                    <ul class="list-group">
                                        <li class="list-group-item heading">
                                            <h1>{{ 'Pratique collective' | trans }}</h1><span class="price">{{ 'A partir de' |trans }} 100€</span></li>
                                        <li class="list-group-item"><span>{{ 'Harmonie' | trans }} </span></li>
                                        <li class="list-group-item"><span>{{ 'Groupes Musiques Amplifiées' | trans }}</span></li>
                                        <li class="list-group-item"><span>{{ 'Musique traditionnelles' | trans }}</span></li>
                                        <li class="list-group-item"><span>{{ 'Chant choral (enfant ou adulte)' | trans }}</span></li>
                                        <li class="list-group-item plan-action"><a href="#" class="btn">{{ 'Details' | trans}} </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 plan price yellow wow fadeInDown"><img class="hidden" src="assets/img/ribon_one.png">
                                    <ul class="list-group">
                                        <li class="list-group-item heading">
                                            <h1>Cursus instrumental</h1><span class="price">{{ 'A partir de' |trans }} 160€</span></li>
                                        <li class="list-group-item"><span>{{ 'Instrument' | trans }} </span></li>
                                        <li class="list-group-item"><span>{{ 'Pratique collective' | trans }}</span></li>
                                        <li class="list-group-item"><span>{{ 'Formation Musicale' |trans}}</span></li>
                                        <li class="list-group-item"><span>{{ 'Instrument' | trans }} {{ 'supplémentaire' | trans }}</span></li>
                                        <li class="list-group-item plan-action"><a href="#" class="btn">{{ 'Details' | trans}} </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="intro">
                <h1 class="text-center">{{ 'Nos enseignements' | trans }}</h1>
                <p class="text-justify">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
        
        {% for enseignement in tabEnseignement %}
                
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}"><img class="img-responsive" src="{{ asset(enseignement.image)}}"></a>
                    <h3 class="name">{{ enseignement.nom }}</h3>
                    <p class="text-justify description"> {{ enseignement.description [:150]}}...</p><a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
                
        {% endfor %}
        
            </div>
        </div>
    </div>
{% endblock %}