{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div class="article-list">
        <div class="container" id="contenuenseignement">
            
            
            <div class="intro">
                <h1 class="text-center">Page de : {{prof.username}} ~ {{prof.nom}} {{prof.prenom}}</h1>
            </div>
            
            <div class="row articles" id="imagesequipe">
                <div class="col-md-12">
                    <a href="#"><img class="img-responsive" src="{{ asset(prof.image) }}"></a>
                    <p class="text-center"></br></br>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>

                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" type="button" id="btn_retour" href="{{ path('musikasvitrine_equipe') }}">Retour à l'équipe</a>
                </div>
            </div>
            
            <div class="container" id="contenuenseignement">
                <h2 class="text-center">Disciplines enseignées :</h2>
            </div>
            
        <div class="row articles" id="imagesenseignements">
        {% for enseignement in tabEnseignement %}
                
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}"><img class="img-responsive" src="{{ asset(enseignement.image)}}"></a>
                    <h3 class="name">{{ enseignement.nom }}</h3>
                    <p class="text-justify description"> {{ enseignement.description }}</p><a href="{{ path('musikasvitrine_enseignement', { 'id': enseignement.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
        {% endfor %}
        </div>
        
        </div>
        </div>
    </section>
{% endblock %}