{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div class="article-list">
        <div class="container" id="contenuenseignement">
            <div class="intro">
                <h1 class="text-center">{{ 'Notre équipe' | trans }} {{ 'pédagogique' | trans }}</h1>
                <p class="text-justify">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row articles" id="imagesequipe">
                {% for prof in tabProf %}
                <div class="col-md-4 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_prof', { 'id': prof.id }) }}"><img class="img-responsive" src="{{ asset(prof.image) }}"></a>
                    <h3 class="name">{{prof.username}} ~ {{prof.nom}} {{prof.prenom}}</h3>
                    <p class="text-justify description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
                {% endfor %}
                
            </div>
        </div>
        </div>
    </section>
{% endblock %}