{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div id="contenu" class="article-list">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">{{ article.titre }} </h1>
                <!--<p class="text-center"></p>-->
            </div>
            <div class="row articles">
                <div class="col-md-12 col-sm-6 item">
                  <a href="#"><img class="img-responsive" src="{{ article.image }}"></a>
                    <!--<a href="#"><img class="img-responsive" src="{{ asset(article.image) }}"></a> -->
                    <!--<h3 class="name">Article Title</h3>-->
                    <p >{{ article.contenuFr }} </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" type="button" id="btn_retour" href="{{ path('musikasvitrine_equipe') }}">Retour aux actualités</a>
                </div>
            </div>

        </div>
        </div>
    </section>
{% endblock %}