{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div id="contenu" class="article-list">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">{{ 'Nos évènements' | trans }} </h1>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row articles">
                <div class="col-md-12 col-sm-6 item">
                    <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/imageaccueil1.jpg') }}"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                
                {% for article in tabArticle %}
                
                <div class="col-md-3 col-sm-6 item">
                    <a href="{{ path('musikasvitrine_evenement', { 'id': article.id }) }}"><img class="img-responsive" src="{{ asset(article.image) }}"></a>
                    <h3 class="name">{{ article.titre }}</h3>
                    <p class="description">{{ article.contenuFr[:350] }}... </p><a href="{{ path('musikasvitrine_evenement', { 'id': article.id }) }}" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
                {% endfor %}
                
                </div>
                </div>
                </div>
    </section>
{% endblock %}