{% extends "::default/vueMere.html.twig" %}

{% block contenu %}
    <section>
        <div id="contenu" class="article-list">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">Statuts de l'association </h1>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
<div class="row articles">
                <div class="col-md-12 col-sm-6 item">
                    <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/imageaccueil1.jpg') }}"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                <div
                class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/imageaccueil2.jpg') }}"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
            <div
            class="col-md-4 col-sm-6 item">
                <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/loft.jpg') }}"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
        <div
        class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/notes-de-musique-partition.jpg') }}"></a>
            <h3 class="name">Article Title</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
    <div
    class="col-md-4 col-sm-6 item">
        <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/imageaccueil2.jpg') }}"></a>
        <h3 class="name">Article Title</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
        <div
        class="col-md-4 col-sm-6 item">
            <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/loft.jpg') }}"></a>
            <h3 class="name">Article Title</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
            <div
            class="col-md-4 col-sm-6 item">
                <a href="#"><img class="img-responsive" src="{{ asset('bundles/assets/img/photography_background.jpg') }}"></a>
                <h3 class="name">Article Title</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>
                </div>
                </div>
                </div>
    </section>
{% endblock %}